<div class="page-error__container">
    <p class="page-error__text page-error__text--orange">Уупс, произошла какая-то ошибка!</p>
    <p class="page-error__text page-error__text--blue">{{error}}</p>
    <a href="/">
        <button class="page-error__button page-error__button--blue">Вернуться на главную</button>
    </a>
</div>