.page-error__text {
    text-align: center;
}

.page-error__text--blue {
    color: var(--blue);
}

.page-error__text--orange {
    color: var(--orange);
}

.page-error__container {
    width: 40%;
    margin-left: 30%;
    margin-top: 20%;
    padding: 1px 5%;
    border: 2px solid var(--gray);
    border-radius: var(--border-radius-legacy-design);
    background-color: var(--gray-light);
    box-shadow: var(--box-shadow-thin);
    transition: 0.3s;
    overflow: auto;
}

.page-error__container:hover {
    box-shadow: var(--box-shadow-bold);
}

.page-error__button {
    box-shadow: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
    padding: 16px 20px;
    border: none;
    width: 100%;
    border-radius: var(--border-radius-legacy-design);
}

.page-error__button--blue {
    opacity: var(--opacity-button-disabled);
    background-color: var(--blue);
}

.page-error__button--blue:hover {
    box-shadow: var(--box-shadow-bold);
    opacity: 1;
}
