.hostel__comment-card {
    box-shadow: var(--box-shadow-thin);
    padding: 1px 5%;
    width: 100%;
    max-width: 42vw;
    height: 11rem;
    transition: 0.3s;
    overflow: auto;
    margin-top: 38px;
    border-radius: var(--border-radius-regular);
    background-color: var(--opacity-white);
    margin-bottom: 3%;
}

.hostel__comment-card:hover {
    box-shadow: var(--box-shadow-bold);
}

.hostel__comment-user-data {
    margin-top: 5px;
    display: flex;
    height: 36px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.hostel__comment-switch {
    margin-top: 1%;
}

.hostel__message-container {
    text-align: center;
    border-radius: var(--border-radius-regular);
    background-color: var(--opacity-white);
    padding: 15px;
    width: 100%;
    transition: 0.3s;
}

.hostel__message-container:hover {
    box-shadow: var(--box-shadow-bold);
}

.hostel__comment-avatar {
    width: 36px;
    height: 36px;
    border: 2px solid var(--gray);
    border-radius: var(--border-radius-round);
    object-fit: cover;
}

.hostel__comment-username {
    margin-left: 5px;
    font-weight: bolder;
    color: var(--orange);
}

.hostel__comments--no-auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .hostel__comment-card {
        max-width: 85vw;
        margin-top: 0;
    }

    .hostel__data {
        height: min-content;
    }

    .hostel__card {
        max-height: min-content;
    }
}
