<form class="container-sign" id="signinform">
    <h1 class="text-sign">Авторизация</h1>
    <label class="label-sign"><b>Имя пользователя</b></label>
    <input type="text" class="input-sign" placeholder="Введите логин" id="login">
    <label class="label-sign"><b>Пароль</b></label>
    <input type="password" class="input-sign" placeholder="Введите пароль" id="password">
    <p class="text-sign">Нет аккаунта?
        <a href="/signup" class="label-sign">Регистрация</a>
    </p>
    <div class="div-btn-error" id="div-btn-sign">
        <h4 class="label-error" id="text-error"></h4>
        <button type="submit" class="btn-sign">Вход</button>
    </div>
</form>