
    <div class="list__container-all">
        {{#each this}}
        <a class="hostels-card" href="/hostel/{{hotel_id}}">
            <img class="hostel-image" src="{{image}}" alt="image">
                <div class="hostel-title text-italic">{{name}}</div>
                <div class="text-cnt">
                    <p class="hostel-title text-blue">{{location}}
                    <p class="hostel-title text-red">7/10
                </div>
        </a>
        {{/each}}
    </div>

