<div class="profile__container-all">
    <div class="profile__data" id="profile-data">
    </div>
    <div class="profile__settings-data" id="settings-data">
    </div>
    <div class="profile__settings-psw" id="settings-password">
    </div>
</div>
</div>