.profile__container-all {
    display: grid;
    grid-template-areas:
        "data set-login"
        "data set-psw";
    grid-template-rows: 0.7fr 1fr;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2vw;
}

@media all and (max-width: 768px) {
    .profile__container-all {
        grid-template-areas:
            "data"
            "set-login"
            "set-psw";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.profile__data {
    padding: .5em;
    text-align: center;
    grid-area: data;
}

.profile__settings-data {
    padding: .5em;
    grid-area: set-login;
}

.profile__settings-psw {
    padding: .5em;
    grid-area: set-psw;
}

.profile__avatar {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid var(--blue);
    cursor: pointer;
}

.profile__avatar:hover {
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profile__line {
    border: none;
    background-color: var(--blue);
    color: var(--blue);
    height: 2px;
    width: 300px;
}

.profile__btn-out {
    color: var(--blue-dark);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--transparent);
    border: none;
    outline: none;
}

.profile__btn-out:hover {
    text-decoration: underline;
    outline: none;
}

.profile__text {
    font: outline;
}

.profile__text--center {
    text-align: center;
}

.profile__text-left {
    text-align: left;
}

.profile__text--blue {
    color: var(--blue);
}

.profile__text--orange {
    color: var(--orange);
}

.profile__text--red {
    color: var(--red);
}

.profile__input {
    width: 100%;
    padding: 15px;
    border: none;
    margin: 5px 0 22px 0;
    background: var(--gray-light);
    border-radius: 5px;
}

.profile__input:focus {
    background-color: var(--gray);
    outline: none;
}

.profile__input--error {
    border: 3px solid var(--red);
}

/* Исправить на БЭМ */

.container-settings {
    max-width: 700px;
    min-width: 300px;
    background: var(--white);
    padding: 17px;
    border-radius: 10px;
    border: 4px solid var(--blue);
}

.text-left-blue {
    text-align: left;
    color: var(--blue);
}

.text-left-red {
    text-align: left;
    color: var(--red);
}

.profile__btn {
    box-shadow: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
    padding: 16px 20px;
    border: none;
    width: 100%;
    border-radius: 5px;
}

.profile__btn--blue {
    opacity: 0.8;
    background-color: var(--blue);
}

.profile__btn--blue:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
    opacity: 1;
}

.profile__btn--w300px {
    width: 300px;
}
