.map__container {
    align-items: center;
    height: 60vh;
    margin: auto;
    box-shadow: var(--box-shadow-thin);
    border: 2px solid var(--gray);
    border-radius: var(--border-radius-5px);
    transition: 0.3s;
}

.map__container:hover {
    box-shadow: var(--box-shadow-bold);
}

.map__error-container {
    margin: auto;
    padding: 15px;
    min-width: 200px;
    text-align: center;
    box-shadow: var(--box-shadow-thin);
    border-radius: var(--border-radius-regular);
    background-color: var(--opacity-white);
    color: var(--blue);
    font-weight: bold;
    transition: 0.3s;
}

.map__error-container:hover {
    box-shadow: var(--box-shadow-bold);
}
