.map__container {
    align-items: center;
    height: 50vh;
    margin: auto;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    border: 2px solid var(--gray);
    border-radius: 4px;
    transition: 0.3s;
}

.map__container:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}

