<div class="popup-message__container">
    {{#if error}}
    <h3 class="popup-message__text popup-message__error-color">{{text}}</h3>
    {{else}}
    <h3 class="popup-message__text popup-message__ordinary-color">{{text}}</h3>
    {{/if}}
</div>