<form class="profile__container-settings">
    <h1 class="profile__text profile__text--center profile__text--accept">Безопасность</h1>
    <label class="profile__text profile__text--left profile__text--orange">
        <b>Старый пароль</b>
    </label>
    <input type="password" class="profile__input" placeholder="Старый пароль" id="old-psw">
    <label class="profile__text profile__text--left profile__text--orange">
        <b>Пароль</b>
    </label>
    <input type="password" class="profile__input" placeholder="Введите пароль" id="new-psw1">
    <label class="profile__text profile__text--left profile__text--orange">
        <b>Подтвердите пароль</b>
    </label>
    <input type="password" class="profile__input" placeholder="Повторите пароль" id="new-psw2">
    <h4 class="profile__message profile__text profile__text--center" id="text-error-sequr"></h4>
    <button type="submit" class="profile__button profile__button--blue" id="button-save-sequr">Сохранить</button>
</form>
