{{#each this}}
<div class="card">
  <img class="avatar" src="{{image}}" alt="Avatar">
  <h3>
    <p class="hotel-card-title">{{name}}
    <p class="hotel-card-title">{{location}}
    </p>
  </h3>
  <p class="hotel-card-block">
    <a class="btn-green" href="/hostel/{{hotel_id}}">Подробнее</a>
  </p>
</div>
{{/each}}