{{#each this}}
  <div class="hotel">
    <div class="hotel-photo-column">
      <img src="{{image}}">
    </div>

    <div class="hotel-info-column">
      <h2>{{name}} </h2>

      <p>About: {{description}}</p>

    </div>
  </div>
{{/each}}