{{#each this}}
             <div class="card">
                  <img class="avatar" src="https://cf.bstatic.com/images/hotel/max1024x768/116/116811672.jpg" alt="Avatar">
                  <h3>
                     <p class="hotel-card-title" href="/hostel/{{id}}">{{name}}
                     </p>
                 </h3>
                   <p class="hotel-card-block">
                     <a class="btn-green" href="/hostel/{{id}}">Подробнее</a>
                   </p>      
              </div>
{{/each}}