<img class="hostel__cur-image" id="cur-image" src="{{image}}">
<div class="hostel__img-button-container">
    <button class="hostel__button-round" id="button-image-prev">
        <
    </button>
    <button class="hostel__button-round" id="button-image-next">
        >
    </button>
</div>
