{{#if isAuth}}
<div>
    <p class="hostel__title hostel__text--blue">Ваша оценка - {{#if comment}}{{comment.rating}} Новая оценка -{{/if}}
        <select class="hostel__select" id="select-rating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </p>
</div>
<form>
    <textarea id="comment-textarea" class="hostel__textarea" placeholder="Оставьте свой комментарий!">{{#if comment}}{{comment.message}}{{/if}}</textarea>
</form>
    {{#if comment}}
    <button class="hostel__btn-round" id="btn-edit-comment">Изменить</button>
    {{else}}
    <button class="hostel__btn-round" id="btn-add-comment">Отправить</button>
    {{/if}}
{{else}}
<p class="hostel__title hostel__text--red">
    Необходимо авторизоваться, чтобы оставлять комментарии
</p>
{{/if}}



