<div class="hostel__container-all">
    <div class="hostel__images" id="hostel-images">
    </div>
    <div class="hostel__data" id="hostel-data">
    </div>
    <div class="hostel__comments" id="hostel-comments">
    </div>
    {{#if isAuth}}
        <div class="hostel__user-comment" id="user-comment">
        </div>
    {{else}}
        <div class="hostel__user-comment hostel__user-comment--no-auth-container" id="user-comment">
        </div>
    {{/if}}
</div>
