{{#if isAuth}}
<div>
    <p class="hostel__title hostel__text--blue">Ваша оценка -
        <select class="hostel__select">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </p>
</div>
<form>
    <textarea class="hostel__textarea" placeholder="Оставьте свой комментарий!">
        {{#if comment}}
        {{comment.message}}
        kek
        {{/if}}
    </textarea>
</form>
    {{#if comment}}
    <button class="hostel__btn-round" id="btn-edit-comment">Изменить</button>
    {{else}}
    <button class="hostel__btn-round" id="btn-add-comment">Отправить</button>
    {{/if}}
{{else}}
<p class="hostel__title hostel__text--blue">
    Необходимо авторизваться, чтобы оставлять комментарии
</p>
{{/if}}



