<div class="hostel__container-all">
    <div class="hostel__images" id="hostel-images">
    </div>
    <div class="hostel__data" id="hostel-data">
    </div>
    <div class="hostel__comments" id="hostel-comments">
    </div>
    <div class="hostel__user-comment" id="user-comment">
    </div>
    {{#if isAuth}}
        {{#if comment}}
            <button class="hostel__button-round hostel__button--position-center" id="button-edit-comment">Изменить</button>
        {{else}}
            <button class="hostel__button-round hostel__button--position-center" id="button-add-comment">Отправить</button>
        {{/if}}
    {{/if}}
    <div id="map-google" class="hostel__map--container">
    </div>
</div>
