.hostel__container-all {
    height: 100vh;
    width: 86%;
    margin: 0 7%;
    padding: 0 15px;
    padding-top: 3%;
    display: grid;
    grid-template-areas:
        "images data"
        "comments comment";
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6%;
}

@media all and (max-width: 768px) {
    .hostel__container-all {
        grid-template-areas:
            "images"
            "data"
            "comment"
            "comments";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
    }
    .hostel__images {
        margin-top: 5%;
    }
    .hostel__comments {
        margin-bottom: 5%;
    }
    .hostel__map {
        width: 100%;
    }
}

.hostel__map--container {
    width: 100%;
    margin-bottom: 5%;
    grid-area: map;
    text-align: center;
}

.hostel__images {
    grid-area: images;
    height: fit-content;
    align-self: center;
    width: 100%;
    margin: auto auto auto 0;
    position: relative;
    align-items: center;
    justify-self: left;
}

.hostel__images:before {
    display: block;
    content: '';
    padding-top: 56.5%;
}

.hostel__data {
    width: 100%;
    grid-area: data;
    align-self: center;
    justify-self: right;
    background-color: var(--opacity-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    transition: 0.3s;
}

.hostel__data:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.hostel__comments {
    grid-area: comments;
    justify-self: left;
    width: 100%;
}

.hostel__user-comment {
    grid-area: comment;
    justify-self: right;
    width: 100%;
    min-height: 285px;
}

.hostel__button-round {
    border-radius: 25px;
    background-color: var(--orange);
    color: var(--white);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
    z-index: 2000;
    transition: 0.3s;
}

.hostel__button-round:hover {
    background-color: var(--orange-dark);
}

.hostel__title--orange {
    color: var(--orange);
}

.hostel__text {
    font-weight: normal;
}

.hostel__text--blue {
    color: var(--blue);
}

.hostel__text--orange {
    color: var(--orange);
}

.hostel__text--red {
    color: var(--new-red);
}
