<img class="hostel__cur-image" id="cur-image" src="{{image}}">
<div class="hostel__img-btn-container">
    <button class="hostel__btn-round" id="btn-image-prev">
        <
    </button>
    <button class="hostel__btn-round" id="btn-image-next">
        >
    </button>
</div>