.hostel__container-all {
    width: 86%;
    margin: 2% 7%;
    padding: 0 15px;
    display: grid;
    grid-template-areas:
        "images data"
        "comments comment";
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6%;
}

@media all and (max-width: 768px) {
    .hostel__container-all {
        grid-template-areas:
            "images"
            "data"
            "comment"
            "comments";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-gap: 2%;
    }
    .hostel__images {
        margin-top: 5%;
    }
    .hostel__comments {
        margin-bottom: 5%;
    }
}

.hostel__images {
    grid-area: images;
    height: fit-content;
    align-self: center;
    width: 100%;
    position: relative;
    align-items: center;
    justify-self: left;
}

.hostel__images:before {
    display: block;
    content: '';
    padding-top: 56.5%;
}

.hostel__data {
    width: 100%;
    grid-area: data;
    align-self: center;
    justify-self: right;
    background-color: var(--opacity-white);
    border-radius: var(--border-radius-regular);
    box-shadow: var(--box-shadow-thin);
    transition: 0.3s;
}

.hostel__data:hover {
    box-shadow: var(--box-shadow-bold);
}

.hostel__comments {
    grid-area: comments;
    justify-self: left;
    width: 100%;
}

.hostel__user-comment {
    grid-area: comment;
    justify-self: right;
    width: 100%;
}

.hostel__button-round {
    border-radius: 25px;
    background-color: var(--orange);
    color: var(--white);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
    z-index: var(--z-index-button);
    transition: 0.3s;
}

.hostel__button-round:hover {
    background-color: var(--orange-dark);
}

.hostel__button-round:disabled {
    pointer-events: none;
    opacity: var(--opacity-button-disabled);
}

.hostel__text {
    font-weight: normal;
}

.hostel__text--blue {
    color: var(--blue);
}

.hostel__text--orange {
    color: var(--orange);
}

.hostel__text--red {
    color: var(--new-red);
}
