<div>
    <p class="hostel__title hostel__text--blue">Ваша оценка -
        <select class="hostel__select">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </p>
</div>
<form>
    <textarea class="hostel__textarea" placeholder="Оставьте свой комментарий!"></textarea>
</form>
<button class="hostel__btn-round" id="btn-user-comment">Отправить</button>