.hostel__container-all {
    height: 100vh;
    width: 86%;
    margin: 0 7%;
    padding: 0 15px;
    padding-top: 3%;
    display: grid;
    grid-template-areas:
        "images data"
        "comments comment"
        "map map";
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6%;
    column-gap: 6%;
}

@media all and (max-width: 768px) {
    .hostel__container-all {
        grid-template-areas:
            "images"
            "data"
            "comment"
            "comments"
            "map";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
    }
    .hostel__images {
        margin-top: 5%;
    }
    .hostel__comments {
        margin-bottom: 5%;
    }
    .hostel__map {
        width: 90%;
    }
}

.hostel__map--container {
    width: 95%;
    margin: auto;
    grid-area: map;
    text-align: center;
}

.hostel__images {
    grid-area: images;
    width: 100%;
    max-width: 850px;
    max-height: 500px;
    margin: auto auto auto 0;
    position: relative;
    align-items: center;
    justify-self: left;
}

.hostel__images:before {
    display: block;
    content: '';
    padding-top: 56.5%;
}

.hostel__cur-image {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    object-fit: cover;
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hostel__cur-image:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.hostel__data {
    width: 100%;
    grid-area: data;
    align-self: center;
    justify-self: right;
    background-color: var(--opacity-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    transition: 0.3s;
}

.hostel__card {
    width: 95%;
    min-height: min-content;
    max-height: 28vw;
    margin: auto;
    /*border: 2px solid var(--gray);*/
    border-radius: 15px;
    background-color: var(--gray-light);
    overflow: auto;
}

.hostel__data:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.hostel__title {
    font-weight: bolder;
}

.hostel__title--orange {
    color: var(--orange);
}

.hostel__text {
    font-weight: normal;
}

.hostel__text--blue {
    color: var(--blue);
}

.hostel__text--orange {
    color: var(--orange);
}

.hostel__text--red {
    color: var(--new-red);
}

.hostel__comments {
    grid-area: comments;
    justify-self: left;
    width: 100%;
}

.hostel__comment-card {
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    padding: 1px 5%;
    width: 100%;
    border-radius: 15px;
    background-color: var(--opacity-white);
    height: 11rem;
    transition: 0.3s;
    overflow: auto;
    margin-top: 3.5rem;
}

.hostel__comment-card:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.hostel__comment-user-data {
    margin-top: 5px;
    display: flex;
    height: 36px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
}

.hostel__comment-avatar {
    width: 36px;
    height: 36px;
    border: 2px solid var(--gray);
    border-radius: 50%;
    object-fit: cover;
}

.hostel__comment-username {
    margin-left: 5px;
    font-weight: bolder;
    color: var(--orange);
}

.hostel__rating-left {
    margin-left: 2%;
}

.hostel__comment-switch {
    margin-top: 1%;
}

.hostel__user-comment {
    grid-area: comment;
    justify-self: right;
    width: 100%;
    min-height: 285px;
}

.hostel__textarea-container {
    width: 100%;
    margin: auto;
}

.hostel__textarea {
    padding: 12px 20px;
    border-radius: 15px;
    background-color: var(--opacity-white);
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    height: 11rem;
    transition: 0.3s;
    color: var(--gray-dark);
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.hostel__textarea:focus {
    border-color: var(--orange);
}

.hostel__button-round {
    border-radius: 25px;
    background-color: var(--orange);
    color: var(--white);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
    z-index: 2000;
    transition: 0.3s;
}

.hostel__button-round:hover {
    background-color: var(--orange-dark);
}


.hostel__img-button-container {
    width: 105%;
    margin-left: -2.5%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.hostel__star::before {
    overflow: hidden;
    width: 265px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 1%;
    content: '★';
}

.hostel__select {
    color: var(--orange);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: large;
}

.hostel__card::-webkit-scrollbar {
    width: 7px;
    padding-right: 15px;
}

.hostel__card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.hostel__card::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 10px;
}

.hostel__card::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

.hostel__button--position-center {
    grid-area: comment;
    width: 150px;
    height: 45px;
    align-self: end;
    justify-self: center;
    margin-bottom: 30px;
}

.hostel__user-center {
    align-self: center;
}

@media only screen and (max-width: 800px) {
    .hostel__comment-card {
        margin-top: 0;
    }

    .hostel__data {
        height: min-content;
    }
}
