<div class="hostels-card">
    <img class="hostel-image" src="{{image}}" alt="image">
    <h3>
        <p class="hostel-title">{{name}}</p>
        <p class="hostel-title">{{location}}
    </h3>
    <h3>
        <p class="hostel-text">{{description}}</p>
    </h3>
</div>