<div class="hostel__container-all">
    <div class="hostel__images" id="hostel-images">
    </div>
    <div class="hostel__data" id="hostel-data">
    </div>
    <div class="hostel__comments">
        <div class="hostel__comment-card">
            <p class="hostel__title hostel__title--orange">Alkirus</p>
            <p class="hostel__text hostel__title--orange">Рейтинг: 3/5</p>
            <p class="hostel__text hostel__text--blue">
                Вилла Domina находится в городе Сплит, всего в 5 минутах ходьбы от дворца Диоклетиана,
                находящегося
            </p>
        </div>

        <div class="hostel__comment-switch">
            <button class="hostel__btn-round">
                < </button>
            <button class="hostel__btn-round">></button>
        </div>
    </div>
    <div class="hostel__user-comment" id="user-comment">
    </div>
</div>