.popup__container {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: var(--popup-z-index);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup__container--hidden {
    display: none;
    visibility: hidden;
}

.popup__content {
    margin: auto;
    width: 70vh;
    height: 70vh;
    align-self: center;
}

.popup__button-close {
    background-color: var(--orange);
    color: var(--white);
    transform: translate(0, -25%);
    border-radius: 25px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
    z-index: var(--popup-z-index);
    transition: 0.3s;
}

.popup__button-close:hover {
    background-color: var(--orange-dark);
}
