{{#if content}}
<div class="popup__content">
    <button class="popup__button-close">x</button>
    <div id="popup-component">
    </div>
</div>
{{else}}
<div class="popup__container--hidden popup__container" id="popup-container">
</div>
{{/if}}