.personal-avatar {
    width: 300px;
    height: 300px;
    object-fit:cover;
    border-radius: 10px;
    border: 4px solid #1976d2;
    cursor: pointer;
}

.personal-avatar:hover {
    opacity: 0.8;
}

.personal-image {
    height: 370px;
    padding-bottom: 10px;
}

.left-container {
    margin-left: 100px;
    position: fixed;
    width: 30%;
}

.right-container {
    margin-left: 40%;
    /*width: 70%;*/
    width: 60%;
    flex-grow: 8;
}

.btn-blue {
    bottom:0;
    background-color: #1976d2;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 300px;
    opacity: 0.9;
    border-radius: 5px;
}

.hr-line-blue {
    border: none; /* Убираем границу */
    background-color: #1976d2; /* Цвет линии */
    color: #1976d2; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 300px;
    margin-left: 0;
}

.btn-out {
    color: #9e9e9e;
    cursor: pointer;
    text-decoration: none;
    background-color: #e3f2fd;
    border: none;
    outline: none;
}

.btn-out:hover {
    text-decoration: underline;
    outline: none;
}

.text-blue {
    color: #1976d2;
}

.container-settings {
    margin-top: 100px;
    margin-bottom: 5%;
    max-width: 550px;
    min-width: 300px;
    margin-left: 10%;
    background: white;
    padding: 17px;
    border-radius: 10px;
    border: 4px solid #1976d2;
}
