body, html {
    height: 100%;
}

.container-sign {
    max-width: 500px;
    min-width: 300px;
    width: 30%;
    margin-top: 8%;
    margin-left: 35%;
    margin-right: 35%;
    background: white;
    padding: 17px;
    border-radius: 10px;
    border: 4px solid #4a90e2;
}

.text-sign {
    text-align: center;
    color: #4a90e2;
}
.label-sign {
    color: #F77A52;
}

/* Full-width input fields */
.input-sign {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

.input-sign:focus {
    background-color: #ddd;
    outline: none;
}

.label-error {
    color: #d9092c;
    text-align: center;
}

.div-btn-error {
    height: 90px;
    position:relative;
}

.input-error {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 3px solid #d9092c;
    background: #f1f1f1;
    border-radius: 5px;
}

.btn-sign {
    position:absolute;
    bottom:0;
    background-color: #4a90e2;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
}
