.card .container .btn {
    height: 30%;
    position: relative;
    left: 25%;
    top: 20px;
}

/* карточка отеля */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* контейнеры */

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.container .ui-form {
    margin-top: 150px;
    margin-left: 0;
    width: 100%;
}

.cnt {
    color: #f5b08f;
}


/* аватарка */

.avatar {
    width: 100%;
    max-height: 50%;
    border-radius: 5px;
}

.text {
    text-align: center;
    margin-top: 10px;
}

.text-first {
    text-align: center;
    margin-top: 100px;
}

.notice {
    color: #6996D3;
    text-align: center;
}

.error {
    color: #e32636;
    text-align: center;
}

.btn-red {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fe6637;
  transition: .2s ease-in-out;
  cursor: pointer;
}
.btn-red:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.btn-red:hover {
  background: #fe6637;
  color: #EFF6FA;
}
.btn-red:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}


.btn-green {
    width: 200px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #41cf41;
    border-radius: 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #41cf41;
    transition: .2s ease-in-out;
    cursor: pointer;
  }

  .btn-green:before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .btn-green:hover {
    background:#41cf41;
    color: #EFF6FA;
  }
  .btn-green:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }


/* страничка отеля */

.hotel-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
}
.hotel-card-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.hotel-card-title {
    color: #f5b08f;
    text-align: center;
    letter-spacing: 2px;
    font-size: 23px;
}
.hotel-card-text {
    color: #6996D3;
    margin: auto;
    width: 90%;
    padding: 10px;
}

/* авторизация и регистрация */

.ui-form {
  max-width: 500px;
  width: 20%;
  margin: 100px auto 30px;
  background: #EFF6FA;
}

.form-row {
  position: relative;
  margin-bottom: 20px;
  margin-top: 40px;
}

.form-row input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Ubuntu Condensed', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid #4a90e2;
  transition: all 0.2s ease;
}

.form-row label {
  position: absolute;
  left: 13px;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}

.form-row input:focus {
  outline: 0;
  border-color: #F77A52;
}

.refer {
  border-color: #F77A52;
  color: #F77A52;
  text-align: center;
  letter-spacing: 2px;
  font-size: 19px;
}

.form-row input:focus+label,
.form-row input:valid+label {
  transform: translateY(-60px);
  margin-left: -14px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  border-color: #F77A52;
  color: #F77A52;
}

.ui-form p {
  margin: 0;
  padding-top: 10px;
}

.ui-form h2 {
  text-align: center;
  color: #4a90e2;
}

@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}

#page {
    height: 100%;
}

#app {
    height: 100%;
}

.fucking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.search-cnt {
    border: 3px solid #F77A52;
    width: 1500px;
    height: 100px;
}

.search-form {
    position: relative;
    width: 90%;
    margin: 10px auto;
}
.search-input, .search-btn {
    border: none;
    outline: none;
    border-radius: 3px;
}
.search-input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
}
.search-btn {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #F15B42;
    cursor: pointer;
}
.search-btn:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}

.date-input {
    background: #F9F0DA;
    border: none;
    border-radius: 5px;
}

.date-input:after {
    z-index:200;
    content:'📅';
}
