<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sign.css" />
    <link rel="stylesheet" href="../navbar.css" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="stylesheet" href="../profile.css" />
    <!-- <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.css %>"/> -->
</head>

<body>
    <div id="<%= htmlWebpackPlugin.options.entryPoint %>"></div>
</body>

</html>