.hostel__card {
    width: 95%;
    min-height: min-content;
    max-height: 28vw;
    margin: auto;
    overflow: auto;
}

.hostel__card::-webkit-scrollbar {
    width: 7px;
    padding-right: 15px;
}

.hostel__card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.hostel__card::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 10px;
}

.hostel__card::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

.hostel__title {
    font-weight: bolder;
}

.hostel__star::before {
    overflow: hidden;
    width: 265px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 1%;
    content: '★';
}
