.hostel__card {
    width: 95%;
    min-height: min-content;
    max-height: 28vw;
    margin: auto;
    overflow: auto;
}

.hostel__card::-webkit-scrollbar {
    width: 7px;
    padding-right: 15px;
}

.hostel__card::-webkit-scrollbar-track {
    box-shadow: var(--box-shadow-inset);
    border-radius: var(--border-radius-regular);
}

.hostel__card::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: var(--border-radius-regular);
}

.hostel__card::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

.hostel__title {
    font-weight: bolder;
}

.hostel__title--orange {
    color: var(--orange);
}

.hostel__title--blue {
    color: var(--blue);
}

.hostel__wishlist {
    border-radius: 15px;
    background-color: #D7DFE0;
    width: fit-content;
    padding: 0 10px;
    margin-right: 10px;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

.hostel__wishlist-label {
    margin-right: 10px;
}

.hostel__star::before {
    overflow: hidden;
    width: 265px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 1%;
    content: '★';
}
