<div class="chat__container">
    <h3 class="chat__header">Чат с тех. поддержкой</h3>
    <div class="chat__messages_container">
        <div class="chat__messages_grid" id="message-container">
        </div>
    </div>
    <div class="chat__footer">
        <textarea class="chat__input" id="chat-input" placeholder="Введите ваше сообщение здесь..."></textarea>
        <button class="chat__submit-button" id="send-button">Отправить</button>
    </div>
</div>
