<div class="chat__container">
    <h3 class="chat__header">Чат с модератором</h3>
    <div class="chat__messages_container">
        <div class="chat__messages_grid" id="message-container">
        </div>
    </div>
    <div class="chat__footer">
        <input class="chat__input" id="chat-input" placeholder="Введите ваше сообщение здесь..."/>
        <button class="chat__submit-button" id="send-button">Отправить</button>
    </div>
</div>
