<form class="profile__container-settings">
    <h1 class="profile__text profile__text--center profile__text--blue">Основные данные</h1>
    <label class="profile__text profile__text--left profile__text--orange">
        <b>Логин</b>
    </label>
    <input type="text" class="profile__input" id="login-profile" value="{{username}}">
    <label class="profile__text profile__text--left profile__text--orange">
        <b>Почта</b>
    </label>
    <input type="email" class="profile__input" id="email-profile" value="{{email}}">
    <h4 class="profile__message profile__text profile__text--center" id="text-error-data"></h4>
    <button type="submit" class="profile__button profile__button--blue" id="button-save-data">Сохранить</button>
</form>
