.navbar {
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    z-index: 99999;
}

.navbar__link {
    padding-right: 15px;
}

.navbar__items--right {
    display: flex;
    margin-right: 7%;
    margin-left: auto;
}

.navbar__items--left {
    margin-left: 7%;
    margin-right: auto;
}

.big-font {
    font-size: 24px;
}

@media only screen and (max-width: 500px) {
    .navbar__items-mbnone {
        display: none;
    }
}
