.navbar {
    background-color: var(--blue);
    display: flex;
    grid-template-areas: "offset1 left center right offset2";
    grid-template-columns: 7% min-content 1fr min-content 7%;
    font-family: sans-serif;
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    align-items: center;
    justify-items: center;
    z-index: var(--z-index-navbar);
}

@media only screen and (max-width: 500px) {
    .navbar__items-mbnone {
        display: none;
    }
}

.navbar__items {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding-right: 15px;
}

.navbar__items--right {
    margin-right: 7%;
    margin-left: auto;
    display: grid;
    grid-template-columns: min-content min-content min-content;
}

.navbar__items--left {
    margin-left: 7%;
    margin-right: auto;
}

.navbar--star-title {
    width: fit-content;
    font-size: var(--font-size-small);
    z-index: var(--z-index-tooltip);
    display: none;
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
    margin-top: 10px;
    right: calc(7% + 93px);
    border: var(--border-title);
}

.navbar__button {
    font-weight: 500;
    font-size: var(--font-size-regular);
    padding: 11px 15px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
}

.navbar__button--beaty {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navbar__button--orange {
    background-color: var(--orange);
}

.navbar__button--orange:hover {
    background-color: var(--violet-light);
}

.navbar__button--violet {
    background-color: var(--violet-light);
}

.navbar__button--violet:hover {
    background-color: var(--orange);
}

.navbar__button--text-orange:hover {
    color: var(--orange);
}

.navbar__button_big-font {
    font-size: var(--font-size-header);
}

.navbar__wishlist-icon {
    fill: var(--violet-light);
    cursor: pointer;
}

.navbar__wishlist-icon:hover {
    fill: var(--orange);
}

.navbar__svg-container:hover .navbar--star-title{
    display: block;
}

.navbar__svg-container {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.svg-chat-icon {
    fill: var(--violet-light);
    cursor: pointer;
}

.navbar__wishlist-icon:hover {
    fill: var(--orange);
}

.navbar--chat-title {
    width: fit-content;
    font-size: var(--font-size-small);
    z-index: var(--z-index-tooltip);
    display: none;
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
    margin-top: 10px;
    right: calc(9% + 100px);
    border: var(--border-title);
}

.navbar__svg-container:hover .navbar--chat-title{
    display: block;
}
