<ul>
    <div class="navbar-left">
        <li><a href="/" class="btn-text">HostelScan</a></li>
    </div>
    <div class="navbar-right">
        {{#if isAuth}}
        <li><a class="btn-beaty-violet" href="/profile">{{username}}</a></li>
        {{else}}
        <li><a class="btn-text" href="/signin">Вход</a></li>
        <li><a class="btn-beaty-orange" href="/signup">Регистрация</a></li>
        {{/if}}
    </div>
</ul>