.navbar {
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    z-index: 99999;
}

@media only screen and (max-width: 500px) {
    .navbar__items-mbnone {
        display: none;
    }
}

.navbar__items {
    display: flex;
}

.navbar__link {
    padding-right: 15px;
}

.navbar__items--right {
    display: flex;
    margin-right: 7%;
    margin-left: auto;
}

.navbar__items--left {
    margin-left: 7%;
    margin-right: auto;
}

.big-font {
    font-size: 24px;
}

.navbar__btn {
    font-weight: 500;
    font-size: 17px;
    padding: 9px 30px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar__btn--beaty {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navbar__btn--orange {
    background-color: var(--orange);
}

.navbar__btn--orange:hover {
    background-color: var(--violet-light);
}

.navbar__btn--violet {
    background-color: var(--violet-light);
}

.navbar__btn--violet:hover {
    background-color: var(--orange);
}

.navbar__btn--text-orange:hover {
    color: var(--orange);
}
