<div class="hotel-card">
        <img class="avatar" src="{{image}}" alt="Avatar">
            <h3>
                <p class="hotel-card-title">{{name}}</p>
            </h3>
            <h3>
                <p class="hotel-card-text">{{description}}</p>
            </h3>
</div>