<div class="hotel-card">
        <img class="avatar" src="https://cf.bstatic.com/images/hotel/max1024x768/116/116811672.jpg" alt="Avatar">
            <h3>
                <p class="hotel-card-title">{{name}}</p>
            </h3>
            <h3>
                <p class="hotel-card-text">{{description}}</p>
            </h3>
</div>