<div class="hostel__images">
    <img class="hostel__cur-image" id="cur-image{{id}}" src="{{image}}">
    {{#if switch}}
    <div class="hostel__img-button-container">
        <button class="hostel__button-round" id="button-image-prev{{id}}">
            < 
        </button>
        <button class="hostel__button-round" id="button-image-next{{id}}">
            >
        </button>
    </div>
    {{/if}}
</div>