<div class="wishlists-list__container">
    {{#each this}}
        <a class="wishlists-list__name" href="/wishlist?id={{wishlist_id}}">
            <h5 class="wishlists-list__name--color-blue">{{name}}</h5>
        </a>
    {{/each}}
</div>
