<div class="wishlists-list__container">
    {{#each this}}
        <a class="wishlists-list__name" href="/wishlist?id={{wishlist_id}}">
            <h5 class="wishlists-list__name--color-blue">{{name}}</h5>
        </a>
        <!--        <div class="wishlist__name">-->
        <!--            <h5 class="wishlist__name--color-blue">LOL</h5>-->
        <!--        </div>-->
        <!--        <div class="wishlist__name">-->
        <!--            <h5 class="wishlist__name--color-blue">KEK</h5>-->
        <!--        </div>-->
        <!--        <div class="wishlist__name">-->
        <!--            <h5 class="wishlist__name--color-blue">SAS</h5>-->
        <!--        </div>-->
        <!--        <div class="wishlist__name">-->
        <!--            <h5 class="wishlist__name--color-blue">I HATE FUCKING FRONTEND!!!!!!!!!!!!!!!!!!!!!!!</h5>-->
        <!--        </div>-->
        <!--        <div class="wishlist__name">-->
        <!--            <h5 class="wishlist__name--color-blue">LOL</h5>-->
        <!--        </div>-->
        <!--        <div class="wishlist__name">-->
        <!--            <h5 class="wishlist__name--color-blue">KEK</h5>-->
        <!--        </div>-->
        <!--        <div class="wishlist__name">-->
        <!--            <h5 class="wishlist__name--color-blue">SAS</h5>-->
        <!--        </div>-->
        <!--        <div class="wishlist__name">-->
        <!--            <h5 class="wishlist__name--color-blue">I HATE FUCKING FRONTEND!!!!!!!!!!!!!!!!!!!!!!!</h5>-->
        <!--        </div>-->
    {{/each}}
</div>
