:root {
    --main-background-color: #ffffff;
    --blue: #312da4;
    --blue-dark: #6200ea;
    --violet-light: #5c6bc0;
    --violet-dark: #000051;
    --orange: #ff6f00;
    --orange-new: #f38000;
    --orange-dark: #ff3d00;
    --red: #c62828;
    --new-red: #D50000;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --white: white;
    --opacity-white: rgba(255, 255, 255, 0.8);
    --gray-light: #f1f1f1;
    --gray: #ddd;
    --gray-dark: #757575;
    --gray-new: #3c3f41;
    --transparent: rgba(0, 0, 0, 0);
}
