ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--blue);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    height: 72px;
    z-index: 99999;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	height		: 36px;
    margin-top	: 18px;
}

li a:hover {
    color: var(--orange);
}
