.home__container-all {
    height: 100%;
    display: grid;
    grid-template-areas: "search";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 86%;
    margin: 0 7%;
    padding: 0 15px;
}

.home__container-list-all {
    height: 100%;
    display: grid;
    grid-template-areas: "search"
                         "list";
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 86%;
    margin: 0 7%;
    padding: 0 15px;
}

.home__search {
    grid-area: search;
    width: 75%;
    display: flex;
    padding: 5% 0;
}

.home__list {
    grid-area: list;
    width: 100%;
    height: 100%;
}

.home__button-orange--size {
    flex: 0 0 170px;
    margin-left: 4%;
    max-width: 170px;
}

.home__search-input {
    height: 45px;
    border: var(--border-blue);
    border-radius: var(--border-radius-round);
    padding: 15px;
    outline: none;
    width: 100%;
    min-width: 170px;
    transition: 0.3s;
}

.home__search-input:hover {
    box-shadow: 0 0 16px var(--shadow-color);
}

.home__search-input::placeholder {
    color: var(--gray-new);
}

.home__search-input:focus::placeholder {
    opacity: 0;
}

@media only screen and (max-width: 500px) {
    .home__search {
        flex-direction: column;
    }

    .home__button-orange--size {
        margin-top: 10px;
        max-height: 45px;
        min-width: 85px;
        align-self: center;
    }

    .home__search-input {
        min-width: 110px;
        align-self: center;
    }
}

.home__button-orange {
    border-radius: var(--border-radius-round);
    background-color: var(--orange-new);
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 500;
    font-size: var(--font-17);
    padding: 9px 30px;
    border: none;
    outline: none;
    height: 45px;
    transition: 0.3s;
}

.home__button-orange:hover {
    background-color: var(--orange);
    box-shadow: 0 0 16px var(--shadow-color);
}

.home__button-orange:disabled {
    opacity: var(--opacity-70);
    pointer-events: none;
}

.home__error {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding-bottom: 5%;
}

.home__error--blue {
    color: var(--blue);
}


.home__message-container {
    padding: 15px 50px;
    background-color: var(--opacity-white);
    border-radius: var(--border-radius-15px);
    text-align: center;
    transition: .3s;
}

.home__message-container:hover {
    box-shadow: var(--box-shadow-bold);
}

.home__list--grid-area-search {
    grid-area: search;
}
