<div class="home__container-all">
    <div class="home__search">
        <input class="search" type="text" placeholder="Что вы хотите найти?"/>
        <button class="btn-regular-orange btn-search-cnt">Искать</button>
    </div>
</div>
