<div class="home__container-all" id="container">
    <form class="home__search" id="search-form">
        <input class="search" id="input" type="text" placeholder="Введите отель или его адрес..."/>
        <button class="button-regular-orange button-search-container" id="button">Искать</button>
    </form>
    <div class="home__list" id="list"></div>
</div>
