{{#if error}}
    <div class="home__container-all" id="container">
        <form class="home__search" id="search-form">
            <input class="home__search-input" id="input" type="text" placeholder="Введите город, отель или место..."/>
            <div  class="home__filter-img-container" id="filter-image">
                <div class="navbar--filter-title">Фильтрация</div>
            </div>
            <button class="home__button-orange home__button-orange--size" id="search-button">Искать</button>
            <div class="home__filtration home__display-none" id="filter"></div>
        </form>
        <div class="home__list home__list--grid-area-search" id="list">
            <div class="home__error">
                <div class="home__message-container">
                    <h4 class="home__error--blue">{{error}}</h4>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="home__container-all" id="container">
        <form class="home__search home__search--start-page-indents" id="search-form">
            <input class="home__search-input" id="input" type="text" placeholder="Введите город, отель или место..."/>
            <div  class="home__filter-img-container" id="filter-image">
                <div class="navbar--filter-title">Фильтрация</div>
            </div>
            <button class="home__button-orange home__button-orange--size" id="search-button">Искать</button>
            <div class="home__filtration home__search--filtration-indents home__display-none" id="filter"></div>
        </form>
        <h3 class="home__recommendation-label" id="recommendation-label">Возможно, вам это понравится:</h3>
        <div class="home__list" id="list"></div>
    </div>
{{/if}}
