<div class="home__container-all" id="container">
    <div class="home__search">
        <input class="search" id="input" type="text" placeholder="Что вы хотите найти?"/>
        <button class="btn-regular-orange btn-search-container" id="btn">Искать</button>
    </div>
    <div class="home__list" id="list"></div>
</div>
