<p class="text-first">
    Главная страница для отработки всех других, и позже роутера
</p>
<p class="text">
    На главной странице должен быть поиск
</p>
<p class="text">
    На первом этапе без поиска не очень понятно, что тут будет
</p>