<div class="fucking-container">
<div class="search-cnt">
<form class="search-form">
    <input class="search-input" type="text" placeholder="Искать здесь...">
    <button class="search-btn" type="submit"></button>
    <label for="date-input">Дата заселения: </label>
    <input class="date-input" type="date">
</form>
</div>
</div>
