<form class="container-sign" id="signupform">
    <h1 class="text-sign">Регистрация</h1>
    <label class="label-sign"><b>Имя пользователя</b></label>
    <input type="text" class="input-sign" placeholder="Введите логин" id="signup-login">
    <label class="label-sign"><b>Почта</b></label>
    <input type="email" class="input-sign" placeholder="Email" id="signup-email">
    <label class="label-sign"><b>Пароль</b></label>
    <input type="password" class="input-sign" placeholder="Введите пароль" id="signup-password1">
    <label class="label-sign"><b>Подтвердите пароль</b></label>
    <input type="password" class="input-sign" placeholder="Повторите пароль" id="signup-password2">
    <p class="text-sign">Есть аккаунт?
        <a href="/signin" class="label-sign">Вход</a>
    </p>
    <div class="div-btn-error" id="div-btn-sign">
        <h4 class="label-error" id="text-error"></h4>
        <button type="submit" class="btn-sign">Регистрация</button>
    </div>
</form>
