<form class="sign__container" id="signinform">
    <h1 class="sign__text sign__text--center sign__text--blue">Авторизация</h1>
    <label class="sign__text sign__text--left sign__text--orange"><b>Имя пользователя</b></label>
    <input type="text" class="sign__input" placeholder="Введите логин" id="signin-login">
    <label class="sign__text sign__text--left sign__text--orange"><b>Пароль</b></label>
    <input type="password" class="sign__input" placeholder="Введите пароль" id="signin-password">
    <p class="sign__text sign__text--center sign__text--blue">Нет аккаунта?
        <a href="/signup" class="sign__text sign__text--center sign__text--orange">Регистрация</a>
    </p>
    <div class="sign__place-bottom" id="div-btn-sign">
        <h4 class="sign__text sign__text--center sign__text--error" id="text-error"></h4>
        <button type="submit" class="sign__btn">Вход</button>
    </div>
</form>
