:root {
    --main-background-color: #ffffff;
    --blue: #312da4;
    --blue-dark: #6200ea;
    --violet-light: #5c6bc0;
    --violet-dark: #000051;
    --orange: #ff6f00;
    --orange-new: #f38000;
    --orange-dark: #e65100;
    --red: #c62828;
    --new-red: #D50000;
    --white: white;
    --opacity-white: rgba(255, 255, 255, 0.8);
    --gray-light: #f8f8f8;
    --gray: #ccc;
    --gray-dark: #757575;
    --gray-new: #3c3f41;
    --shadow-color: rgba(0, 0, 0, 0.4);

    --z-index-navbar: 2500;
    --z-index-button: 2000;
    --z-index-popup: 3000;

    --box-shadow-thin: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    --box-shadow-bold: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    --box-shadow-inset: inset 0 0 5px grey;

    --font-size-large: large;
    --font-size-regular: 17px;
    --font-size-header: 24px;

    --border-radius-legacy-design: 5px;
    --border-radius-regular: 15px;
    --border-radius-round: 1000px;

    --border-regular: 4px solid var(--blue);

    --opacity-button-disabled: 0.8;
}

body {
    background: var(--main-background-color);
    margin: 0;
    height: 100%;
    background-image: url('https://hostelscan.ru/AppImage4k.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#page {
    padding-top: 72px;
}

#app, #page {
    height: 100vh;
}

button, a {
    font-family: 'Comfortaa', cursive;
}

::placeholder {
    font-family: 'Comfortaa', cursive;
}
