{{#if isAuth}}
<div class="hostel__textarea-container">
    <div>
    <p class="hostel__title hostel__text--blue">Ваша оценка - {{#if comment}}{{comment.rating}} Новая оценка -{{/if}}
        <select class="hostel__select" id="select-rating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </p>
</div>
<form>
    <textarea id="comment-textarea" class="hostel__textarea" placeholder="Оставьте свой комментарий!">{{#if comment}}{{comment.message}}{{/if}}</textarea>
</form>
</div>
{{else}}
<div class="hostel__card">
    <p class="hostel__title hostel__text--blue">
    Чтобы оставлять комментарии, нужно
    <a href="/signin" class="hostel__title hostel__text--orange">авторизоваться</a>
    </p>
</div>
{{/if}}
