.hostel__textarea-container {
    width: 100%;
    margin: auto;
}

.hostel__textarea {
    grid-area: area;
    padding: 12px 20px;
    border-radius: var(--border-radius-regular);
    background-color: var(--opacity-white);
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    height: 11rem;
    transition: 0.3s;
    color: var(--gray-dark);
    box-shadow: var(--box-shadow-bold);
}

.hostel__textarea:focus {
    border-color: var(--orange);
}

.hostel__select {
    color: var(--orange);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: var(--font-large);
}

.hostel__button--position-center {
    grid-area: area;
    width: 150px;
    height: 45px;
    align-self: end;
    justify-self: center;
    margin-top: 153px;
}

.hostel__comment-container {
    display: grid;
    grid-template-areas: "area";
    margin-bottom: 3%;
}

.hostel__user-comment--no-auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
