.filtration__container {
    width: 100%;
    height: 250px;
    padding: 0 5%;
    background-color: white;
    display: grid;
    grid-template-areas: "rate-label rate"
                         "percent-label percent"
                         "comment-label comment";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: var(--border-radius-regular);
}

.filtration__rate-label {
    grid-area: rate-label;
    color: var(--blue);
}

.filtration__percent-label {
    grid-area: percent-label;
    color: var(--blue);
}

.filtration__comment-label {
    grid-area: comment-label;
    color: var(--blue);
}

.filtration__rate {
    grid-area: rate;
    color: var(--blue);
}

.filtration__input:focus::placeholder {
    color: transparent;
}

.filtration__comment {
    grid-area: comment;
    color: var(--blue);
}

.filtration__percent {
    grid-area: percent;
    color: var(--blue);
}

.filtration__items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtration__input {
    padding: 5px;
    border-radius: var(--border-radius-round);
    border: 2px solid var(--blue);
    outline: none;
    text-align: center;
    width: 3rem;
}

.filtration__rate--paddings {
    padding: 0 10%;
}

.filtration__input-error {
    border: 2px solid var(--new-red);
    box-shadow: 0 0 8px 0 rgba(213, 0, 0, 0.4);;
}
